mixin card(id, productFamily, productName, releaseName, releaseDate=0, releaseResult=-2, defectResult=-2, securityData=-2)
    div(id=id, class="card", onclick="selectProduct(this)")
        div(class=`card-background ${productFamily}`)
        div(class="card-circle")
            div(class="card-circle-top") #{productName}
            div(class="card-circle-bottom")
                div(class="card-labels-container")
                    div(class="card-label") Release
                    div(class="card-label") Date
                    div(class="card-label") Content
                    div(class="card-label") Quality
                    div(class="card-label") Security
                div(class="card-data-container")
                    div(class="card-data", title=releaseName) #{releaseName}
                    div(class="card-data") #{releaseDate === 0 ? 'N/A' : new Date(releaseDate).toLocaleDateString()}
                    if releaseResult === 1
                        div(class="card-data color-tag color-tag--green")
                    else if releaseResult === 0
                        div(class="card-data color-tag color-tag--yellow")
                    else if releaseResult === -1
                        div(class="card-data color-tag color-tag--red")
                    else
                        div(class="card-data color-tag color-tag--na")
                    if defectResult === 1
                        div(class="card-data color-tag color-tag--green")
                    else if defectResult === 0
                        div(class="card-data color-tag color-tag--red")
                    else
                        div(class="card-data color-tag color-tag--na")
                    if securityData === 0
                        div(class="card-data color-tag color-tag--green")
                    else if securityData > 0
                        div(class="card-data color-tag color-tag--red")
                    else
                        div(class="data color-tag color-tag--na")
+card('octane', 'prod-family-lm', 'Octane', octane.releaseMetadata.name, octane.releaseMetadata.end_date, octane.releaseResult, octane.defectResult, octane.securityData)
+card('alm', 'prod-family-lm', 'ALM', alm.releaseMetadata.name, alm.releaseMetadata.end_date, alm.releaseResult, alm.defectResult)
+card('ppm', 'prod-family-lm', 'PPM', ppm.releaseMetadata.name, ppm.releaseMetadata.end_date, ppm.releaseResult, ppm.defectResult)
+card('uftOne', 'prod-family-ft', 'UFT One', uftOne.releaseMetadata.name, uftOne.releaseMetadata.end_date, uftOne.releaseResult, uftOne.defectResult)
+card('uftDeveloper', 'prod-family-ft', 'UFT Developer', uftDeveloper.releaseMetadata.name, uftDeveloper.releaseMetadata.end_date, uftDeveloper.releaseResult, uftDeveloper.defectResult)
+card('uftCodeless', 'prod-family-ft', 'Codeless (A.I.)', uftCodeless.releaseMetadata.name, uftCodeless.releaseMetadata.end_date, uftCodeless.releaseResult, uftCodeless.defectResult)
+card('uftMobile', 'prod-family-ft', 'UFT Mobile', uftMobile.releaseMetadata.name, uftMobile.releaseMetadata.end_date, uftMobile.releaseResult, uftMobile.defectResult)
+card('lre', 'prod-family-pe', 'LR Enterprise', lre.releaseMetadata.name, lre.releaseMetadata.end_date, lre.releaseResult, lre.defectResult)
+card('lrp', 'prod-family-pe', 'LR Cloud', lrp.releaseMetadata.name, lrp.releaseMetadata.end_date, lrp.releaseResult, lrp.defectResult)
+card('lrc', 'prod-family-pe', 'TruClient', lrc.releaseMetadata.name, lrc.releaseMetadata.end_date, lrc.releaseResult, lrc.defectResult)
+card('srl', 'prod-family-pe', 'DevWeb Protocol', srl.releaseMetadata.name, srl.releaseMetadata.end_date, srl.releaseResult, srl.defectResult)
+card('lrproto', 'prod-family-pe', 'LR Protocols', lrproto.releaseMetadata.name, lrproto.releaseMetadata.end_date, lrproto.releaseResult, lrproto.defectResult)
