div(id="uftMobile-section", class="product-section")
    div(class="product-data")
        div(class="product-name") UFT Mobile
        div(class="product-release-name") Release: #{uftMobile.releaseMetadata.name}
        div(class="product-release-date") Date: #{uftMobile.releaseMetadata.end_date === 0 ? 'N/A' : new Date(uftMobile.releaseMetadata.end_date).toLocaleDateString()}
    div(class="product-charts")
        +releaseChart('uftMobileReleaseChart',
            'https://internal.almoctane.com/ui/favorites/101004?p=45001/2001',
            'window.onload = uftMobileReleaseStatusChart(' + JSON.stringify(uftMobile.releaseData) + ')',
            uftMobile.releaseResult)

div(id="uftOne-section", class="product-section")
    div(class="product-data")
        div(class="product-name") UFT One
        div(class="product-release-name") Release: #{uftOne.releaseMetadata.name}
        div(class="product-release-date") Date: #{uftOne.releaseMetadata.end_date === 0 ? 'N/A' : new Date(uftOne.releaseMetadata.end_date).toLocaleDateString()}
    div(class="product-charts")
        +releaseChart('uftOneReleaseChart',
            'https://internal.almoctane.com/ui/?p=45001/6001#/dashboard',
            'window.onload = uftOneReleaseStatusChart(' + JSON.stringify(uftOne.releaseData) + ')',
            uftOne.releaseResult)

div(id="uftDeveloper-section", class="product-section")
    div(class="product-data")
        div(class="product-name") UFT Developer
        div(class="product-release-name") Release: #{uftDeveloper.releaseMetadata.name}
        div(class="product-release-date") Date: #{uftDeveloper.releaseMetadata.end_date === 0 ? 'N/A' : new Date(uftDeveloper.releaseMetadata.end_date).toLocaleDateString()}
    div(class="product-charts")
        +releaseChart('uftDeveloperReleaseChart',
            'https://internal.almoctane.com/ui/?p=45001/5001#/dashboard',
            'window.onload = uftDeveloperReleaseStatusChart(' + JSON.stringify(uftDeveloper.releaseData) + ')',
            uftDeveloper.releaseResult)

div(id="uftCodeless-section", class="product-section")
    div(class="product-data")
        div(class="product-name") Codeless (A.I.)
        div(class="product-release-name") Release: #{uftCodeless.releaseMetadata.name}
        div(class="product-release-date") Date: #{uftCodeless.releaseMetadata.end_date === 0 ? 'N/A' : new Date(uftCodeless.releaseMetadata.end_date).toLocaleDateString()}
    div(class="product-charts")
        +releaseChart('uftCodelessReleaseChart',
            'https://internal.almoctane.com/ui/?p=45001/5001#/dashboard',
            'window.onload = uftCodelessReleaseStatusChart(' + JSON.stringify(uftCodeless.releaseData) + ')',
            uftCodeless.releaseResult)